.dashboard {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noDataDiv {
  display: flex;
  flex-direction: column;
}
.addBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addButton {
  width: 150px;
}

.card {
  max-width: 400px;
  margin: 10px;
}

.contentList {
  display: flex;
}